<a href="https://colab.research.google.com/github/Thariga-yuvi/Datascience1/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
income= int(input())
if (income>7000):
  print("scholarship is available")
else:
  print("not eligible for scholarship")

7200
scholarship is available

In [5]:
#to check the given input is divisible by 3
a= int(input())
if (a%3==0):
  print("the number is divisible by 3")
else:
  print("the number is not divisible by 3")

15
the number is divisible by 3

In [8]:
#to check the given input is divisible by 3 and 5
a= int(input())
if (a%3==0 and a%5==0):
  print("the number is divisible by 3 and 5")
else:
  print("the number is not divisible by 3 and 5")

30
the number is divisible by 3 and 5

In [11]:
#even or odd
a=int(input("enter a number:"))
if(a%2==0):
 print("number is even")
else:
  print("number is odd")

enter a number:4
number is even

In [12]:
mark=int(input("score:"))
if (mark<35):
  print("poor student")
if (mark>35 and mark<70):
  print("Average student")
if(mark>70):
  print("good sudent")

score:68
Average student

In [13]:
#using elif
mark=int(input("score:"))
if (mark<35):
  print("poor student")
elif (mark>35 and mark<70):
  print("Average student")
else:
  print("good sudent")

score:70
good sudent

In [9]:
mark=int(input("score:"))
if (mark<35):
  print("poor student")
elif (mark>35 and mark<70):
  print("Average student")
elif(mark>70 and mark<100):
  print("good sudent")
else:
  print("invalid score")

score:150
invalid score

In [12]:
#add,SUB,mul,div
a=int(input("A:"))
b=int(input("B:"))
operation=input("add/sub/mul/div:")
if (operation=="add"):
  print(a+b)
elif(operation=="sub"):
  print(a-b)
elif(operation=="mul"):
  print(a*b)
elif(operation=="div"):
  print(a/b)
else:
  print("invalid operation")

A:6
B:3
add/sub/mul/div:mul
18

In [21]:
#user input inside if condition
score_percentage=int(input("score:"))
if(score_percentage>70):
  name=input("enter your name:")
  location=input("enter your location:")
  print("You are eligible")
else:
  print("You are not eligible")

score:90
enter your name:yuvaraj
enter your location:chennai
You are eligible

In [27]:
#loan amount based on salary and age (nested if)
salary=int(input("enter your salary:"))
age=int(input("enter your age:"))
if (salary>=20000 or age<=25):
  loan=int(input("enter your loan amount:"))
  if (loan>=50000):
   print("maximum loan amount is 50000")
  else:
     print("you are eligible for loan")
else:
  print("you are not eligible for loan")

enter your salary:20000
enter your age:26
enter your loan amount:75000
maximum loan amount is 50000

In [30]:
#average
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
f=a+b+c+d+e
average=f/2
if (average<=35):
  print("additional class is required")
else:
  print("you are good to go")

5
1
5
0
4
additional class is required

In [31]:
#HACKER RANK
n=int(input())
if (n%2==0):
    if(n>=2 and n<=5):
      print("Not Weird")
    elif(n>=6 and n<=20):
       print("weird")
    elif(n>20):
        print("Not weird")
else:
    print("Weird")

3
Weird

In [33]:
#FOR LOOP
for i in range(3):
  print(i)

0
1
2

In [36]:
for i in range(1,5):
 print(i)

1
2
3
4

In [37]:
int_value=int(input())
print(int_value)

2
2

In [40]:
#print 2 table using for loop
for i in range(1,11):
 print(i,"x2=", i*2)

1 x2= 2
2 x2= 4
3 x2= 6
4 x2= 8
5 x2= 10
6 x2= 12
7 x2= 14
8 x2= 16
9 x2= 18
10 x2= 20

FOR LOOP

In [42]:
a=int(input())
b=int(input())
for i in range(a+1,b):
 print(i)

8
15
9
10
11
12
13
14

In [43]:
#print even number 1 to 10
for i in range(1,11):
  if(i%2==0):
    print(i)

2
4
6
8
10

In [57]:
#count the number of even numbers between 1 to 10
count=0
for i in range(1,11):
  if(i%2==0):
    count=count+1
print(count)

5

In [66]:
#count the number of odd and even numbers between 1 to 10
e_count=0
o_count=0
for i in range(1,11):
  if(i%2==0):
    e_count=e_count+1
  else:
     o_count=o_count+1
print(e_count)
print(o_count)

5
5

In [71]:
#count the no which are divisible by 3 and 5. range 1-100
count=0
for i in range(1,101):
 if(i%3==0 and i%5==0):
  count=count+1
print(count)

6

In [76]:
#sum of 5 natural numbers
sum=0
for i in range(1,6):
  sum=sum+i
print(sum)

15

In [79]:
#add 10 numbers and find average,, #list[]
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [80]:
a=[]
for i in range(10):
  num=int(input())
  a.append(num)
print(a)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
a=[]
print("enter 10 numbers")
for i in range(10):
  num=int(input("enter number:"+str(i+1)))
  a.append(num)
print(a)

enter 10 numbers
enter number:11
enter number:22
enter number:33
enter number:44
enter number:55
enter number:66
enter number:77
enter number:88
enter number:99
enter number:1010
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
a=[]
print("enter numbers")
for i in range(5):
  num=int(input("enter number:"+str(i+1)))
  a.append(num)
print(a)
sum=0
for i in a:
  sum=sum+i
print(sum)

enter numbers
enter number:110
enter number:220
enter number:330
enter number:440
enter number:550
[10, 20, 30, 40, 50]
150